#new-playlist-button {
    border-radius: 20px;
    font-size: medium;
    padding: 3px 8px;
    width: 140px;
    margin-bottom: 20px;
}
#playlists-tab .catagory-item .rename-button {
    position: absolute;
    right: -2px;
    bottom: -2px;
    padding: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/icons/edit.svg");
    background-color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: all;
}
#playlists-tab .catagory-item .rename-button:hover {
    background-color: #ffffff30;
}

@media (max-width: 550px) {
    #playlists-tab {
        margin-left: 0px;
        align-items: center;
    }
    #playlists-tab .display {
        justify-content: center;
    }
    #playlists-tab .catagory-item .rename-button {
        display: none;
    }
}