#search {
  padding-right: 20px;
}
#search .loading-text {
  margin: 0 auto;
}
#search-bar {
  flex: 0 1 auto;
  display: block;
  min-height: 30px;
  width: 60vw;
  margin: 20px auto;
}
#search-results {
  padding-left: 50px;
}
#search-results > :last-child {
  margin-bottom: 50px;
}

@media (max-width: 550px) {
  #search-bar {
    width: 80vw;
    font-size: 16px;
  }
  #search-results {
    padding-left: 15px;
  }
}