#song-fullscreen {
    position: absolute;
    display: block;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        var(--background-colour),
        var(--background-sub-colour)
    );
}
#song-fullscreen.show {
    visibility: visible;
}

#song-fullscreen .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
}
#song-fullscreen .swarmfm-player {
    border: none;
    width: inherit;
    height: inherit;
}
#song-fullscreen .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vh 2vh;
    width: fit-content;
    max-width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}
#song-fullscreen .content > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#song-fullscreen .content > div > div {
    width: 100%;
}
#song-fullscreen .content > :first-child {
    flex-basis: min(50%, fit-content);
    gap: 6%;
}
#song-fullscreen .content > :last-child {
    flex-basis: min(5%, fit-content);
    gap: 0;
}
#song-fullscreen .cover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
#song-fullscreen .cover-container img {
    max-width: 100%;
    width: 42vh;
    height: auto;
    border-radius: 8%;
    background-color: transparent;
}
#song-fullscreen .title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    gap: 5px;
    overflow: hidden;
}
#song-fullscreen .title-container > * {
    margin: 0;
    white-space: normal;
    max-width: inherit;
}
#song-fullscreen .title-container > h1 {
    font-size: x-large;
}


#song-fullscreen .media-controls {
    margin: auto;
}
#song-fullscreen .media-controls button {
    background: none;
}

#song-fullscreen .seek-bar-container {
    margin-bottom: auto;
}
#song-fullscreen .seek-bar {
    height: 10px;
}
#song-fullscreen .seek-bar:hover {
    height: 12px;
}
