st-media-view {
    gap: 8px;
}

st-media-view header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2);
    height: fit-content;
    padding: 20px;
    gap: 20px;

    --cover-background: rgba(0, 0, 0, 30%);
}

st-media-view header .info {
    display: flex;
    flex-direction: row;
    max-height: 250px;
}

st-media-view header .controls {
    display: flex;
    flex-direction: row;
    height: 30px;
}

st-media-view header::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 110%;

    background: url("https://api.swarmtunes.com/covers/neuro?size=1024");
    background-position: center;
    background-size: cover;
    mask-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 35%) 70%, transparent);

    filter: blur(3px);
}

st-media-view header st-cover {
    filter: drop-shadow(0 4px 8.5px rgba(0, 0, 0, 40%));
}

st-media-view .info-text {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

st-media-view .info-text * {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 40%));
}

st-media-view .info-text h1 {
    font-size: 48px;
    color: white;
}

st-media-view .info-text h2 {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFFCC;
}

st-media-view .info-text h3 {
    font-size: 15px;
    font-weight: normal;
    color: #FFFFFFCC;
}

st-media-view main {}

st-media-view main .sorting {
    flex: 0 0 10px;
    border-bottom: var(--subtext-colour) solid 1.5px;
}

st-media-view main st-song-list {
    padding: 20px;
}