#current-song-bar {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: var(--current-song-bar);
    width: 100%;
    height: 100%;
    pointer-events: all;
}
#current-song-bar > * {
    flex: 1 1 0;
    display: flex;
    pointer-events: none;
    position: relative;
}
#current-song-bar > *:nth-child(1) {
    justify-content: left;
    min-width: 0;
    align-items: center;
}
#current-song-bar > *:nth-child(2) {
    justify-content: center;
    flex-direction: column;
}
#current-song-bar > *:nth-child(3) {
    justify-content: center;
    align-items: center;
}

#current-song-bar button.fullscreen {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 30px;
}

#current-song-bar .cover {
    flex: 0 1 90px;
    min-width: 0;
    margin: 10px;
    aspect-ratio: 1/1;
}
#current-song-bar .singer-wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
}
#current-song-bar .singer-wrapper span {
    white-space: pre;
}

#current-song-bar .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
#current-song-bar .title-container > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.seek-bar-container {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 450px;
    margin: 10px auto;
    color: var(--subtext-colour);
}
.seek-bar {
    position: relative;
    flex: 1;
    height: 8px;
    width: 100%;
    background: var(--seek-bar-background);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    pointer-events: all;
}
.seek-bar:hover {
    height: 10px;
}
.seek-bar > * {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    border-radius: 4px;
    pointer-events: none;
}
.seek-bar .progress {
    background: var(--seek-bar-played);
}
.seek-bar .loaded {
    background: var(--seek-bar-loaded);
}
@media (max-width: 850px) {
    #current-song-bar button.fullscreen {
        display: none;
    }
}

@media (max-width: 600px) {
    #current-song-bar .singer-wrapper {
        display: none;
    }
    #current-song-bar .seek-time {
        display: none;
    }
}
@media (max-width: 500px) {
    #current-song-bar {
        height: 60px;
    }
    #current-song-bar .cover {
        flex: 0 1 55px;
        margin: 0;
        margin-right: 5px;
    }
    #current-song-bar .title-container {
        padding: 0 5px;
        text-align: left;
    }
    #current-song-bar > *:nth-child(1) {
        flex: 1 1 30%;
    }
    #current-song-bar > *:nth-child(2) {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        justify-content: center;
        flex-direction: column;
    }
    #current-song-bar .seek-bar {
        height: 4px;
    }
}
