.error-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: x-large;
  font-weight: bold;
  pointer-events: none;
  background: var(--background-colour);
}
.error-screen button {
  pointer-events: all;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 12px;
  font-size: medium;
  cursor: pointer;
}