header {
    position: relative;
    display: flex;
    justify-content: right;
    background-color: var(--header-colour);
    width: 100%;
    height: 50px;
}
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--header-colour);
    width: 100%;
    height: 100px;
}
#header-buttons {
    flex: 0 1 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    height: inherit;
}
#change-theme-button {
    border-radius: 5px;
    font-size: medium;
    background-color: var(--header-colour);
    padding: 2px;
    width: 35px;
    height: 35px;
}
#change-theme-button:hover {
    background-color: var(--default-button-hover);
}
#change-theme-button img {
    width: 100%;
    height: 100%;
}
#header-login-button {
    border-radius: 5px;
    font-size: medium;
    padding: 3px 8px;
}

@media (max-width: 500px) {
    footer {
        height: 150px;
    }
}
