.media-controls {
    display: flex;
    justify-content: left;
}

.media-controls button {
    pointer-events: all;
    cursor: pointer;
    padding: 0;
    background-color: var(--current-song-bar);
    aspect-ratio: 1/1;
    margin: auto 0;
}

.media-controls button.hidden {
    display: none;
}

.media-controls > :first-child:not(.next) {
    margin-right: var(--endGap)
}

.media-controls > :last-child:not(.previous) {
    margin-left: var(--endGap)
}

.media-controls button.next,
.media-controls button.previous {
    transform: scaleX(1.5);
    aspect-ratio: 3/2;
}

.media-controls button.play-pause {
    display: contents;
}

.media-controls button.play-pause * {
    width: inherit;
    height: inherit;
}

.media-controls button.play-pause .pause {
    display: none;
}

.media-controls button.play-pause.playing .pause {
    display: block;
}

.media-controls button.play-pause.playing .play {
    display: none;
}

.media-controls button.shuffle.active svg {
    color: #fff
}

.media-controls button.shuffle.flip {
    animation: shuffle-flip 0.1s linear;
}

@keyframes shuffle-flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.volume-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    transform: translateY(-2px);
}

.volume-controls.active svg {
    color: #fff;
}

.volume-controls svg {
    display: none;
    width: inherit;
    height: inherit;
}

.volume-controls svg.active {
    display: block;
}

.volume-controls input {
    position: absolute;
    display: none;
    width: 85px;
    transform: rotate(-90deg) translateX(62px);
    background: var(--current-song-bar);
    cursor: grab;
}

.volume-controls input:active {
    cursor: grabbing;
}

.volume-controls img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00000000;
    color: var(--text-colour);
    cursor: pointer;
    pointer-events: all;
}