.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: none;
  backdrop-filter: blur(5px);
}
.popup-window {
  aspect-ratio: 2 / 1;
  max-width: min(80vw, 700px);
  max-height: 80vh;
  margin: auto;
  padding: 40px 50px;

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background: var(--background-colour);
  background-size: 192px;
  box-shadow: 0 5px 15px #00000080;
  min-width: 0;
}
.popup-window h1 {
  margin: 0;
  font-size: 40px;
}
.popup-window > .buttons {
  display: flex;
  flex: 0 1 35px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px
}
.popup-window > .buttons button {
  flex: 1;
  height: 100%;
  max-width: 150px;

  border-radius: 10px;
  border: none;
  background-color: var(--default-button-colour);
  color: var(--text-colour);
}
.popup-window > .buttons button:hover {
  background-color: var(--default-button-hover);
}
.popup-window > .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
}
.popup-window > .content {
  flex: 1 1 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: normal;
  gap: 10px;
  margin: 10px;
}
.popup-window > .content > * {
  flex: 1 1 auto;
  margin: 0;
  text-align: center;
}
.popup-window > .content > input {
  width: 100%;
  height: 25px;
}
.popup-window > .content > input.error,
.popup-window > .content > button.error,
.popup-window > .buttons button.error {
  border-color: red;
} 

@media (max-width: 550px) {
  .popup-window {
    aspect-ratio: auto;
    height: auto;
  }
  .popup-window > .buttons {
    flex-basis: 45px;
    gap: 20px;
  }
  .popup-window > .buttons button {
    font-size: medium;
  }
  .popup-window > .content input {
    font-size: medium;
    height: 30px;
  }
  .popup-window > .close-button {
    width: 40px;
    height: 40px;
  }
}