.song-list {
  padding-bottom: 50px;
}

.song-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
}

.song-list-item.unavaliable {
  filter: grayscale(100%) brightness(70%);
  color: var(--subtext-colour);
}


.song-list-item > * {
  pointer-events: none;
  box-sizing: border-box;
}

@media (hover: hover) {
  .song-list-item:hover {
    background-color: var(--song-item-hover);
  }
}

.song-list-item > cover-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.song-list-item > .title-artist {
  display: flex;
  max-width: calc(100% - 100px);
  flex-direction: column;
  margin-left: 6px;
  overflow: hidden;
}

.song-list-item > .title-artist > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-list-item > .triple-dot {
  display: none;
  position: absolute;
  right: 10px;
  height: 40%;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  pointer-events: all;
  aspect-ratio: 1;
  background-color: initial;
}

.song-list-item:hover > .triple-dot {
  display: block;
}

.song-list-item > .date {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 450px) {
  .song-list-item > .date {
    display: none;
  }

  .song-list-item > .triple-dot {
    display: block;
    height: 50%;
    right: 5px;
  }
}