:root {
    --background-colour: #171717;
    --background: var(--background-colour);
    --background-sub-colour: #111;
    --text-colour: #ffffff;
    --subtext-colour: #8b8b8b;
    --cover-background: #202020;
    --current-song-bar: #202020;
    --seek-bar-background: #171717;
    --seek-bar-played: #ffffff;
    --seek-bar-loaded: #5b5b5b;
    --header-tab-default: #111;
    --header-tab-active: var(--background-colour);
    --header-tab-border: #404040;
    --header-colour: #1c1c1c;
    --default-button-colour: #252525;
    --default-button-hover: #303030;
    --default-button-active: #404040;
    --input-colour: #252525;
    --input-colour-hover: #303030;
    --input-border: #404040;
    --song-item-hover: #202020;
    --icon-default: #aaa;
    --icon-hover: #ddd;
    --icon-active: #fff;
    --slider-default: #aaa;
    --slider-border: #444;
    --slider-track: #444;
    overflow: hidden;
}

:root[data-theme="neuro"] {
    --background-colour: #ffa3ae;
    --background: url("../assets/neuro-bg.png");
    --background-sub-colour: #8a4a52;
    --header-colour: #ffb1bb;
    --current-song-bar: #ea95a0;
    --song-item-hover: #ffffff50;
    --text-colour: #ffffff;
    --subtext-colour: #eee;
    --cover-background: #8a4a52;
    --seek-bar-background: #ce838c;
    --seek-bar-played: #ffffff;
    --seek-bar-loaded: #ffb9c1;
    --header-tab-default: #ce838c;
    --header-tab-active: #ffa3ae;
    --header-tab-border: #8a4a52;
    --default-button-colour: #b3626c;
    --default-button-hover: #b46770;
    --default-button-active: none;
    --input-colour: #ce838c;
    --input-colour-hover: #764046;
    --input-border: #8a4a52;
    --slider-default: #fff;
    --slider-border: #ffb9c1;
    --slider-track: #ffb9c1;
    --icon-default: #fff;
    --icon-hover: #ddd;
    --icon-active: #ccc;
}

:root[data-theme="evil"] {
    --background-colour: #643134;
    --background: url("../assets/evil-bg.png");
    --background-sub-colour: #3a1c1e;
    --header-colour: #693a3d;
    --current-song-bar: #50272a;
    --song-item-hover: #ffffff50;
    --text-colour: #fff;
    --subtext-colour: #eee;
    --cover-background: #3a1c1e;
    --seek-bar-background: #3a1c1e;
    --seek-bar-played: #ffffff;
    --seek-bar-loaded: #764046;
    --header-tab-default: #50272a;
    --header-tab-active: #643134;
    --header-tab-border: #3a1c1e;
    --default-button-colour: #783d42;
    --default-button-hover: #87494e;
    --default-button-active: #50272a;
    --input-colour: #50272a;
    --input-colour-hover: #764046;
    --input-border: #965159;
    --slider-default: #ce7680;
    --slider-border: #965159;
    --slider-track: #965159;
}

:root[data-theme="darker"] {
    --background-colour: black;
    --background-sub-colour: black;
    --text-colour: #555;
    --subtext-colour: #333;
    --header-colour: #111;
    --header-tab-default: #0a0a0a;
    --current-song-bar: #0a0a0a;
    --seek-bar-background: black;
    --seek-bar-played: #222;
    --seek-bar-loaded: #111;
    --default-button-colour: #111;
    --default-button-hover: #1a1a1a;
    --default-button-active: black;
    --cover-background: black;
    --icon-default: #333;
    --icon-hover: #444;
    --icon-active: #111;
}

:root[data-theme="darker"] cover-img {
    filter: brightness(0.3);
}

:root[data-theme="light"] {
    --background-colour: #fafafa;
    --background-sub-colour: #zzzzzz;
    --text-colour: black;
    --subtext-colour: black;
    --header-colour: white;
    --current-song-bar: white;
    --icon-default: #222;
    --icon-hover: #888;
    --icon-active: #ccc;
    --header-tab-default: #ddd;
    --header-tab-active: #fafafa;
    --header-tab-border: #ccc;
    --default-button-colour: #ddd;
    --default-button-hover: #eee;
    --default-button-active: #ccc;
    --input-colour: #ddd;
    --input-colour-hover: #eee;
    --input-border: #000;
    filter: brightness(3);
}

:root[data-theme="bad eyesight"] {
    filter: blur(10px) grayscale(80%) sepia(10%) contrast(0.9);
}

:root[data-theme="what"] {
    --background-colour: rgb(107, 167, 110);
    --header-colour: white;
    --current-song-bar: white;
    --text-colour: black;
    filter: hue-rotate(180deg) contrast(2);
}

html,
body {
    padding-bottom: env(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);
    height: 100%;
    overflow: hidden;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: clip;

    background-color: var(--background-sub-colour);
    color: var(--text-colour);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    text-wrap: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {

    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 5px;
}

#content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100vw;
    min-width: 300px;
    background: var(--background);
    background-size: 256px;
}

#content {
    position: relative;
    overflow: hidden;
    height: calc(100dvh - 150px);
}

@media (max-width: 500px) {
    #content {
        height: calc(100dvh - 200px);
    }
}

#content > * {
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    height: inherit;
}

#content-tabs > * {
    flex-direction: column;
    display: none;
    padding-top: 20px;
    padding-left: 20px;
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

img {
    pointer-events: none;
}

.cover {
    border-radius: 15%;
    background-color: var(--cover-background);
}

button {
    cursor: pointer;
    border: none;
    background-color: var(--default-button-colour);
    color: var(--text-colour);
    padding: 6px;
    pointer-events: all;
}

@media (hover: hover) {
    button:hover {
        background-color: var(--default-button-hover);
    }
}

button:active {
    background-color: var(--default-button-active);
}

.icon-button {
    background-color: transparent;
    border-radius: 10px;
    padding: 0;
}

.icon-button svg {
    width: 100%;
    height: 100%;
    color: var(--icon-default);
    background: none;
}

@media (hover: hover) {
    .icon-button:hover svg {
        color: var(--icon-hover);
    }
}

.icon-button:active svg {
    color: var(--icon-active);
}

.spacer {
    flex: 1;
    content: "";
}

.loading-text {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 25px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
}

.loading-text:before {
    content: "Loading...";
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

.sub-text {
    color: var(--subtext-colour);
    font-size: 12px;
}

.hidden {
    display: none !important;
}

.require-auth {
    display: none !important;
}

.require-admin {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    border-radius: 10px;
    border: 1px solid var(--input-border);
    background-color: var(--input-colour);
    color: var(--text-colour);
    padding: 5px 10px;
}

input::placeholder {
    color: var(--subtext-colour);
}

@media (hover: hover) {
    input:hover {
        background-color: var(--input-colour-hover);
    }
}

input:focus {
    outline: none;
    background-color: var(--input-colour-hover);
}

p {
    user-select: text;
    white-space: pre;
}

::-webkit-scrollbar {
    background-color: var(--background-colour);
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar:hover {
    height: 5px;
    width: 5px;
}


/* Slider */
input[type="range"] {
    -webkit-appearance: none;
    background: var(--background);
    padding: 6px;
    outline: none;
    border: none;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    width: calc(100% - 20px);
    background: var(--slider-track);
    border-radius: 10px;
}

input[type="range"]::-moz-range-track {
    height: 6px;
    width: calc(100% - 20px);
    background: var(--slider-track);
    border-radius: 10px;
}

/* Thumb */
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--slider-default);
    border: 2px solid var(--slider-border);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    transition: transform 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--slider-default);
    border: 2px solid var(--slider-border);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    transition: transform 0.2s ease;
}

@media (max-width: 550px) {
    #content-tabs > * {
        padding-left: 5px;
    }
}