:root {
    --primary-colour: #ccc;
    --background-colour: #171717;
    --lightness: 1;
    --background: var(--background-colour);
    --background-colour-dark: #111;
    --text-colour: #ffffff;
    --subtext-colour: #8b8b8b;
    --cover-background: #222;
    --current-song-bar: #202020;
    --seek-bar-background: #00000030;
    --seek-bar-played: #ffffff;
    --seek-bar-loaded: #ffffff20;
    --header-tab-default: #111;
    --header-tab-active: var(--background-colour);
    --header-colour: #1c1c1c;
    --button-colour: #202020;
    --textbox-fill: #252525;
    --textbox-border: #404040;
    --song-item-hover: #ffffff20;
    --icon-default: #bbb;
    --icon-hover: #eee;
    --icon-active: #999;
    --slider-thumb-colour: #aaa;
    --slider-thumb-hover: #ffffff;
    --slider-thumb-active: #666;
    --slider-border: #444;
    --slider-track: #444;
    --media-card-background: #0000002a;
    overflow: hidden;
}