$themes: (
    dark: ( //
        primary: #ccc,
        background: #171717,
        background-image: linear-gradient(to bottom, #171717, #111),
        text: white,
        icons: #bbb,
        lightness: 1,
    )
);