img {
    pointer-events: none;
}

svg {
    display: block;
}

hr {
    width: 100%;
    margin: 2px auto;
    color: var(--colour-text-muted);
}

input {
    border-radius: 1000px;
    border: 1px solid var(--colour-border);
    background-color: var(--colour-surface-alt);
    color: var(--text-colour);
    padding: 5px 15px;
}

input::placeholder {
    color: var(--colour-text-muted);
}

@media (hover: hover) {
    input:hover {
        filter: brightness(1.1);
    }
}

input:focus {
    outline: none;
    filter: brightness(1.2);
}

select {
    border-radius: 1000px;
    border: 1px solid var(--colour-border);
    background-color: var(--colour-surface-alt);
    color: var(--text-colour);
    padding: 5px 10px;
}

p {
    user-select: text;
    -webkit-user-select: text;
    white-space: pre-wrap;
}

a {
    color: var(--colour-text-link);
    text-decoration: none;
    cursor: pointer;
}

@media (hover: hover) {
    a:hover {
        text-decoration: underline;
    }
}

/* Slider */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;

    background-color: var(--colour-surface-raised);
    padding: 4px 3px;
    outline: none;
    border: none;
}

input[type="range"]:hover {
    filter: brightness(1.5);
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    width: calc(100% - 20px);
    background: var(--colour-border);
    border-radius: 10px;
}

input[type="range"]::-moz-range-track {
    height: 5px;
    width: calc(100% - 20px);
    background: var(--colour-border);
    border-radius: 10px;
}


/* Thumb */
input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--colour-accent);
    border: 2px solid var(--colour-border);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    transition: transform 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: var(--colour-accent);
    border: 2px solid var(--colour-border);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    transition: transform 0.2s ease;
}