:host {
    position: relative;
    display: inline-block;

    aspect-ratio: 1;

    border-radius: max(8px, 5%);
    background-color: var(--cover-background);
    overflow: hidden;
    object-fit: contain;
}

img {
    width: 100%;
    height: 100%;
}

div {
    position: absolute;
    z-index: 1;
    inset: 0;

    background: var(--cover-background) linear-gradient(-60deg, transparent 0%, transparent 20%, #FFFFFF20 50%, transparent 80%, transparent 100%);
    background-size: 1000% 100%;
    animation: move 2s linear infinite;

    opacity: 0;
}

:host(.loading) div {
    opacity: 1;
}

@keyframes move {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}