#current-song-bar {
  display: flex;
  position: absolute;
  flex-direction: row;
  background-color: var(--current-song-bar);
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  margin: 0, 10px;
}
#current-song-bar .cover {
  flex: 0 1 80px;
  max-width: 80px;
  height: auto;
  margin: auto 10px;
}
#current-song-bar .cover-artist {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  text-wrap: nowrap;
}
#title-and-seek {
  flex: 1 1 150px;
  margin: auto 10px;
  text-align: center;
  min-width: 0;
}
#title-and-seek .title {
  max-width: 100%;
}
#media-controls {
  flex: 1 0 auto;
  margin: auto 20px;
  display: flex;
  gap: 0;
  flex-wrap: nowrap;
  justify-content: center;
}
#media-controls img {
  margin: auto 0;
  pointer-events: all;
  cursor: pointer;
}
#previous-button {
  width: 25px;
  height: 25px;
  transform: scaleX(-1.6);
}
#play-pause {
  width: 40px;
  height: 40px;
}
#next-button {
  width: 25px;
  height: 25px;
  transform: scaleX(1.6);
}
#shuffle-button {
  width: 20px;
  height: 20px;
  transform: translateX(7px);
}
#seek-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: inherit;
  max-width: 400px;
  margin: 10px auto;
  color: var(--subtext-colour);
}
#current-song-title, #current-song-artist {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.playback-time {
  font-size: 0.9rem;
  min-width: 20px;
  text-align: center;
}
#seek-progress {
  position: relative;
  flex: 1;
  height: 8px;
  width: 100%;
  background: var(--seek-bar-background);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
#seek-progress > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-radius: 4px;
  pointer-events: none;
}
#seek-progress-played {
  background: var(--seek-bar-played);
}
#seek-progress-loaded {
  background: var(--seek-bar-loaded);
}
#volume-controls {
  margin: auto 0;
  margin-left: 10px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#volume-controls input {
  position: absolute;
  display: none;
  width: 100px;
  transform: translateY(-30px) translateX(-2px);
  cursor: grab;
}
#volume-controls input:active {
  cursor: grabbing;
}
#volume-controls img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #00000000;
  color: var(--text-colour);
  cursor: pointer;
  pointer-events: all;
}

@media (max-width: 600px) {
  #volume-controls {
    display: none;
  }
  #current-song-bar .cover-artist {
    display: none;
  }
}
@media (max-width: 450px) {
  #current-song-bar .cover {
    display: none;
  }
  .playback-time {
    display: none;
  }
  #title-and-seek {
    max-width: 150px;
  }
  #seek-container {
    min-width: 50px;
  }
  #media-controls img {
    margin: auto 8px;
  }
}