#login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: none;
}
#login {
  width: 90%;
  height: 95%;
  max-width: 700px;
  max-height: max(calc(1100px - 70vw), 450px);
  margin: auto;

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background-color: var(--background-colour);
  box-shadow: #000000 0 5px 5px 0;
  overflow: hidden;
}
#login > .title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
#login > input {
  flex: 1 1 0;
  width: 60%;
  max-height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid var(--popup-input-border);
  background-color: var(--popup-input-colour);
  color: var(--text-colour);
  padding-left: 10px;
}
#login > input::placeholder {
  color: var(--subtext-colour);
}
#login > input:focus {
  outline: none;
}
#login .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
#login .error {
  color: #ff0000;
  margin-bottom: 10px;
  font-size: 12px;
}
#login .buttons > button {
  flex: 1 1 0;
  max-width: 150px;
  height: 35px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--default-button-colour);
  color: var(--text-colour);
}
#login .buttons > button:hover {
  background-color: var(--default-button-hover);
}
#login-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-size: contain;
  background-color: var(--default-button-colour);
  border-radius: 50%;
  color: var(--text-colour);
}
#login-close-button:hover {
  background-color: var(--default-button-hover);
}

@media (max-width: 550px) {
  #login {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    border-radius: 0;
  }
  #login-close-button {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: large;
  }
  #login > input {
    width: 80%;
    max-height: 50px;
    font-size: medium;
  }
  #login .buttons {
    width: 80%;
  }
  #login .buttons button {
    height: 50px;
    font-size: large;
  }
  #login .title {
    font-size: 70px;
  }
  #login .error {
    font-size: 16px;
  }
}