@use "@css/_variables" as *;
@use "./themes";
@use "./defaults";
@use "./components/panels/main/discover.scss" as *;
@use "./components/panels/main/media-view.scss" as *;
@use "./components/panels/main/header.scss" as *;

:root {
    overflow: hidden;
}

@font-face {
    font-family: "Neuro";
    src: url("@assets/first-coffie.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    padding-bottom: env(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);
    height: 100%;
    overflow: hidden;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: clip;

    background-color: var(--background-colour-dark);
    color: var(--text-colour);
    font-family: #{$default-font};
    margin: 0;
    text-wrap: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body > main,
body > main > nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

main > * {
    flex: 1;
}

nav > .content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

nav > .content > st-panel-view {
    flex: 1;
}



st-panel-view {
    padding-top: $header-size;
    background: var(--background);
    overflow-x: hidden;
    scroll-padding-top: $header-size + 50px;
}

st-panel-view > * {
    min-width: 100%;
    min-height: 100%;
}

st-discover-menu {
    display: flex;
    background: var(--background);
    flex-direction: column;
    gap: 5px;
}