#right-click-menu {
  position: absolute;
  display: none; 
  background-color: var(--default-button-colour);
  flex-direction: column;
  padding: 3px;
  border-radius: 5px;
  min-width: 150px;
}
#right-click-menu .option {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  cursor: pointer;
}
#right-click-menu .option:hover {
  background-color: var(--default-button-hover);
}
#right-click-menu .option:active {
  background-color: var(--default-button-active);
}
#right-click-menu .option span {
  margin-right: 10px;
}
#right-click-menu .option img {
  width: 20px;
  height: auto;
  margin-right: 5px;
  margin-left: auto;
}
#right-click-menu > .category:not(:last-child) {
  border-bottom: 0.5px solid var(--subtext-colour);
}
