#select-playlist-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: none;
}
#select-playlist {
  width: 90%;
  max-width: 300px;
  max-height: min(90%, 700px);
  min-height: 80px;
  margin: auto;

  display: flex;
  position: relative;
  flex-direction: column;

  border-radius: 20px;
  background-color: var(--background-colour);
  box-shadow: #000000 0 5px 5px 0;
  overflow: hidden;
}
#select-playlist > .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
#select-playlist-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-size: contain;
  background-color: var(--default-button-colour);
  border-radius: 50%;
  color: var(--text-colour);
}

#select-playlist ol {
    padding: 0 10px;
}
#select-playlist li {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
#select-playlist li:hover {
  background-color: var(--song-item-hover);
}
#select-playlist li * {
  pointer-events: none;
}
#select-playlist li > img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  padding-left: 5px;
}
#select-playlist li > span {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  overflow: hidden;
}