#select-playlist {
  padding: 0 10px;
  border-left: solid 1px var(--subtext-colour);
}
#select-playlist li {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
#select-playlist li:hover {
  background-color: var(--song-item-hover);
}
#select-playlist li * {
  pointer-events: none;
}
#select-playlist li > img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  padding-left: 5px;
}
#select-playlist li > span {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  overflow: hidden;
}