.song-list-item {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
.song-list-item > * {
  pointer-events: none;
  box-sizing: border-box;
}
.song-list-item:hover {
  background-color: var(--song-item-hover);
}
.song-list-item > .cover {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.song-list-item > .title-artist {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  overflow: hidden;
}
.song-list-item > .title-artist > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.song-list-item > .date {
  margin-left: auto;
  margin-right: 8px;
}

@media (max-width: 450px) {
  .song-list-item > .date {
    display: none;
  }
}