:root {
    --colour-background: #111;
    --colour-surface: #171717;
    --colour-surface-raised: #202020;
    --colour-surface-alt: #252525;

    --colour-text: #fff;
    --colour-text-muted: #aaa;
    --colour-text-link: #009dff;

    --colour-border: #404040;
    --colour-accent: #888;
    --colour-progress: rgba(255, 255, 255, 0.9);
    --colour-enabled: #0c0;
    --colour-icon: #aaa;

    --surface-image: none;
}

:root[data-theme="light"] {
    --colour-background: #f2f2f2;
    --colour-surface: #ffffff;
    --colour-surface-raised: #fafafa;
    --colour-surface-alt: #e8e8e8;

    --colour-text: #171717;
    --colour-text-muted: #666;
    --colour-text-link: #555;

    --colour-border: #d0d0d0;
    --colour-accent: #666;
    --colour-progress: rgba(0, 0, 0, 0.85);
    --colour-enabled: #0e0;
    --colour-icon: #666;

    --surface-image: none;
}

:root[data-theme="neuro"] {
    --colour-background: #df858f;
    --colour-surface: #ffa3ae;
    --colour-surface-raised: #f9919f;
    --colour-surface-alt: #ff98a4;

    --colour-text: #fff;
    --colour-text-muted: #ffdddd;
    --colour-text-link: #0df;

    --colour-border: #ffb6bf;
    --colour-accent: #f9919f;
    --colour-progress: rgba(255, 255, 255, 0.9);
    --colour-enabled: pink;
    --colour-icon: #fff;

    --surface-image: url("/neuro-bg.png");
}

:root[data-theme="evil"] {
    --colour-background: #52282b;
    --colour-surface: #643134;
    --colour-surface-raised: #5c292c;
    --colour-surface-alt: #77343a;

    --colour-text: #fff;
    --colour-text-muted: #ccc;

    --colour-border: #965159;
    --colour-accent: #8b4147;
    --colour-progress: rgba(255, 255, 255, 0.9);
    --colour-enabled: #99161f;
    --colour-icon: #e4999a;

    --surface-image: url("/evil-bg.png");
}