@use "_themes" as *;
@use "sass:color";
@use "sass:map";

@each $name, $theme in $themes {
    $primary: map.get($theme, primary);
    $background: map.get($theme, background);
    $background-secondary: map.get($theme, background-secondary);
    $background-image: map.get($theme, background-image);
    $text: map.get($theme, text);
    $icons: map.get($theme, icons);
    $lightness: map.get($theme, lightness);

    :root[data-theme="#{$name}"] {
        --primary-colour: #{$primary};
        --lightness: #{$lightness};

        --background-image: #{$background-image};
        --background-colour: #{$background};
        --background: var(--background-colour) var(--background-image);

        --background-colour-dark: #{color.adjust($background, $lightness: -10%)};

        --text-colour: #{$text};
        --subtext-colour: #{color.adjust($text, $lightness: -40% / $lightness)};

        --header-colour: #{color.change(color.adjust($background-secondary, $lightness: 4%), $alpha: 0.7)};
        --header-tab-colour: #{color.adjust($background-secondary, $lightness: -5%)};

        --current-song-bar: #{color.adjust($background-secondary, $lightness: 2%)};

        --cover-background: #{color.adjust($background, $lightness: -3% / $lightness)};

        --media-card-background: #{$background};

        --button-colour: #{color.adjust($background, $lightness: 2%)};

        --icon-colour: #{$icons};
        --seek-bar-colour: #00000030;
        --seek-bar-progress: linear-gradient(to right, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.9));
    }
}