:root {
    --background-colour: #171717;
    --background: var(--background-colour);
    --background-sub-colour: #111;
    --text-colour: #ffffff;
    --subtext-colour: #aaaaaa;
    --cover-background: #202020;
    --current-song-bar: #202020;
    --seek-bar-background: #00000030;
    --seek-bar-played: #ffffffdd;
    --seek-bar-loaded: transparent;
    --header-tab-default: #111;
    --header-tab-active: var(--background-colour);
    --header-colour: #1c1c1c;
    --button-colour: #202020;
    --textbox-fill: #252525;
    --textbox-border: #404040;
    --song-item-hover: #ffffff20;
    --icon-default: #bbb;
    --icon-hover: #eee;
    --icon-active: #999;
    --slider-default: #aaa;
    --slider-border: #444;
    --slider-track: #444;
    --catagory-background: #0000002a;
    --slider-thumb-colour: #aaa;
    --slider-thumb-hover: #ffffff;
    --slider-thumb-active: #666;
    --slider-border: #444;
    --slider-track: #444;
    overflow: hidden;
}

:root[data-theme="neuro"] {
    --background-colour: #ffa3ae;
    --background: url("/neuro-bg.png");
    --background-sub-colour: #df858f;
    --header-colour: #ffb1bb;
    --current-song-bar: #f9919f;
    --text-colour: #ffffff;
    --subtext-colour: #fff;
    --seek-bar-background: #0000001a;
    /* --seek-bar-loaded: #ffb1bbc0; */
    --cover-background: #df858f;
    --header-tab-default: #d37984;
    --header-tab-active: #ffa3ae;
    --button-colour: #e98591;
    --textbox-fill: #ca6874;
    --textbox-border: #965a61;
    --slider-default: #fff;
    --slider-border: #ffb9c1;
    --slider-track: #ffb9c1;
    --icon-default: #fff;
    --icon-hover: #eee;
    --icon-active: #ccc;
    --catagory-background: #ffffff2a;
}

:root[data-theme="evil"] {
    --background-colour: #643134;
    --background: url("/evil-bg.png");
    --background-sub-colour: #52282b;
    --header-colour: #763c40;
    --current-song-bar: #5c292c;
    --text-colour: #fff;
    --subtext-colour: #ccc;
    --cover-background: #52282b;
    --header-tab-default: #50272a;
    --header-tab-active: #643134;
    --button-colour: #8b4147;
    --textbox-fill: #50272a;
    --textbox-border: #965159;
    --slider-default: #ce7680;
    --slider-border: #965159;
    --slider-track: #965159;
    --icon-default: #e4999a;
    --icon-hover: #bd6e6f;
    --icon-active: #924a4e;
}