#swarmfm-button {
  width: 50px;
  height: auto;
  min-height: 50px;
  border-radius: 50%;
  background-image: url(/icons/swarmfm.png);
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

#discover .title {
  font-family: Neuro, system-ui, sans-serif;
  margin: 0;
  font-size: 40px;
  font-weight: 700;

}

#discover > .loading-text {
  margin: 0 auto;
}

#discover > .item-cards {
  flex: 0 0 auto;
  margin-bottom: 40px;
}