#discover {
  display: none;
  flex-direction: column;
  padding-left: 20px;
  overflow-y: auto;
  height: inherit;
}
#swarmfm-button {
  width: 50px; 
  height: auto;
  min-height: 50px;
  border-radius: 50%; 
  background-image: url(../../art/swarmfm.png); 
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 5px 0 #000000;
}
#discover > .loading {
  margin: 0 auto;
}