#new-playlist-button {
    border-radius: 20px;
    font-size: medium;
    padding: 3px 8px;
    width: 140px;
}

@media (max-width: 550px) {
    #playlists-tab {
        margin-left: 0px;
        align-items: center;
    }
    #playlists-tab .display {
        justify-content: center;
    }
}